<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= @notification.title%></h1>
	<p><%= @notification.text%></p>
	<%= link_to "Leer mas",  notification_url(@notification)%>
</body>
</html>